<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1400.v7fd111b_ec82f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2205.vc9522a_9d5711"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2205.vc9522a_9d5711">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3908.vd6b_b_5a_a_54010">
    <script>pipeline {
    agent any
  
    environment {
        // Define environment variables to store credentials and repo info
        GIT_CREDENTIALS = credentials(&apos;git-cred&apos;)
        GIT_REPO_URL = &apos;github.com/NOUR-BEN-ALI/MyApp-PFE.git&apos; 
        GIT_BRANCH = &apos;tempo&apos;
        REPO_DIR = &apos;MyApp-PFE&apos;
        registry = &quot;docker.io&quot; 
        registryCredential = &apos;docker_visionaryops&apos; 
    }

    stages {
        stage(&apos;Clone my Branch from Git&apos;) {
            steps {
                script {
                    if (fileExists(REPO_DIR)) {
                        dir(REPO_DIR) {
                            sh &apos;git pull&apos;
                        }
                    } else {
                        sh &quot;git clone --branch ${env.GIT_BRANCH} https://NOUR-BEN-ALI:${env.GIT_CREDENTIALS}@${env.GIT_REPO_URL} ${REPO_DIR}&quot;
                    }
                }
            }
        }
        stage(&apos;Clean and compile with Maven ms1&apos;) {
            steps {
                dir(REPO_DIR +&apos;/Microservice1&apos;) {
                    sh &apos;mvn clean install -DskipTests&apos;
                }
            }
        }
        stage(&apos;Clean and compile with Maven ms2&apos;) {
            steps {
                dir(REPO_DIR +&apos;/Microservice2&apos;) {
                    sh &apos;mvn clean install -DskipTests&apos;
                }
            }
        }
        stage(&apos;Clean and compile with Maven ms3&apos;) {
            steps {
                dir(REPO_DIR +&apos;/Microservice3&apos;) {
                    sh &apos;mvn clean install -DskipTests&apos;
                }
            }
        }
  
stage(&apos;Building  image ms1&apos;) { 

            steps { 
dir(REPO_DIR +&apos;/Microservice1&apos;){
                script { 

                    dockerImage = docker.build registry + &quot;:$BUILD_NUMBER&quot; 

                }
}

            } 

        }

        
        
        stage(&apos;Building  image ms2&apos;) { 

            steps { 
dir(REPO_DIR +&apos;/Microservice2&apos;){
                script { 

                    dockerImage = docker.build registry + &quot;:$BUILD_NUMBER&quot; 

                }
}

            } 

        }
        
        
        stage(&apos;Building  image ms3&apos;) { 

            steps { 
dir(REPO_DIR +&apos;/Microservice3&apos;){
                script { 

                    dockerImage = docker.build registry + &quot;:$BUILD_NUMBER&quot; 

                }
}

            } 

        }

    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>