<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1400.v7fd111b_ec82f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2205.vc9522a_9d5711"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2205.vc9522a_9d5711">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.39.0">
      <projectUrl>https://github.com/NOUR-BEN-ALI/MyApp-PFE.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3908.vd6b_b_5a_a_54010">
    <script>pipeline {
    agent any
  
    environment {
        GIT_CREDENTIALS = credentials(&apos;gitcredential&apos;)
        GIT_REPO_URL = &apos;github.com/NOUR-BEN-ALI/MyApp-PFE.git&apos; 
        GIT_BRANCH = &apos;auto&apos;
        REPO_DIR = &apos;MyApp-PFE&apos;
        registry = &quot;docker.io/nourbenali&quot;
        registryCredential = &apos;docker_visionaryops&apos; 
    }

    stages {
    //  stage(&apos;Clean Workspace&apos;) {
    //         steps {
    //             script {
    //                 if (fileExists(REPO_DIR)) {
    //                     sh &apos;rm -rf MyApp-PFE MyApp-PFE@tmp&apos;
    //                 }
    //             }
    //         }
    //     }  
    
      stage(&apos;Clone my Branch from Git&apos;) {
            steps {
                script {
                    if (fileExists(REPO_DIR)) {
                        dir(REPO_DIR) {

                            sh &apos;git pull&apos;
                        }
                    } else {
                        sh &quot;git clone --branch ${env.GIT_BRANCH} https://NOUR-BEN-ALI:${env.GIT_CREDENTIALS}@${env.GIT_REPO_URL} ${REPO_DIR}&quot;
                    }
                }
            }
        }
        // Uncomment these stages if needed
        // stage(&apos;Clean and compile with Maven ms1&apos;) {
        //     steps {
        //         dir(REPO_DIR +&apos;/Microservice1&apos;) {
        //             sh &apos;mvn clean install -DskipTests&apos;
        //         }
        //     }
        // }
        // stage(&apos;Clean and compile with Maven ms2&apos;) {
        //     steps {
        //         dir(REPO_DIR +&apos;/Microservice2&apos;) {
        //             sh &apos;mvn clean install -DskipTests&apos;
        //         }
        //     }
        // }
        // stage(&apos;Clean and compile with Maven ms3&apos;) {
        //     steps {
        //         dir(REPO_DIR +&apos;/Microservice3&apos;) {
        //             sh &apos;mvn clean install -DskipTests&apos;
        //         }
        //     }
        // }
        // stage(&apos;Building image ms1&apos;) { 
        //     steps { 
        //         dir(REPO_DIR +&apos;/Microservice1&apos;) {
        //             script { 
        //                 dockerImage1 = docker.build(&quot;${registry}/visionaryops-microservice11:$BUILD_NUMBER&quot;)
        //             }
        //         }
        //     } 
        // }
        // stage(&apos;Building image ms2&apos;) { 
        //     steps { 
        //         dir(REPO_DIR +&apos;/Microservice2&apos;) {
        //             script { 
        //                 dockerImage2 = docker.build(&quot;${registry}/visionaryops-microservice22:$BUILD_NUMBER&quot;)
        //             }
        //         }
        //     } 
        // }
        // stage(&apos;Building image ms3&apos;) { 
        //     steps { 
        //         dir(REPO_DIR +&apos;/Microservice3&apos;) {
        //             script { 
        //                 dockerImage3 = docker.build(&quot;${registry}/visionaryops-microservice33:$BUILD_NUMBER&quot;)
        //             }
        //         }
        //     } 
        // }
        // stage(&apos;Push Docker Images to DockerHub&apos;) {
        //     steps {
        //         script {
        //             docker.withRegistry(&apos;https://index.docker.io/v1/&apos;, registryCredential) {
        //                 dockerImage1.push()
        //                 dockerImage2.push()
        //                 dockerImage3.push()
        //             }
        //         }
        //     }
        // }
        // stage(&apos;Build with Docker Compose&apos;) {
        //     steps {
        //         script {
        //             dir(REPO_DIR) {
        //                 // sh &apos;docker-compose build&apos;
        //                  sh &apos;test -f /var/jenkins_home/jobs/VisionaryOps/workspace@2/MyApp-PFE/docker/prometheus/prometheus.yml&apos;
        //             sh &apos;test -f /var/jenkins_home/jobs/VisionaryOps/workspace@2/MyApp-PFE/docker/tempo/tempo.yml&apos;
        //                 // sh &apos;docker-compose up -d microservice1 microservice2 microservice3 grafana tempo prometheus collector loki zookeeper kafka-service kafka-ui&apos;
        //                     sh &apos;docker-compose -f docker-compose-minimal.yaml up&apos;

        //             }
        //         }
        //     }
        // }
        
        
        
        
        
        stage(&apos;Build with Docker Compose&apos;) {
            steps {
                script {
                    dir(REPO_DIR) {
                       // Arrêter et supprimer les conteneurs existants
                    // sh &apos;docker compose -f docker-compose.yaml down&apos;

                    // Construire les services
                    // sh &apos;docker compose -f docker-compose.yaml build&apos;

                    // Démarrer les services en arrière-plan
                  sh &apos;docker-compose -f docker-compose.yaml up -d&apos;
                    }
                }
            }
        }
        
        
    
      stage(&apos;Post-Deployment&apos;) {
            steps {
                // Ajouter ici des étapes supplémentaires, telles que des tests ou des vérifications
                echo &apos;Services déployés avec succès&apos;
            }
        }
    }

    post {
        always {
            // Nettoyer les conteneurs inutilisés, les volumes, les images, etc.
            sh &apos;docker system prune -f&apos;
        }
    }  
        
        
        

    }
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>